# MACHINE LEARNING - LIDANDO COM DADOS DE MUITAS DIMENSÕES

In [22]:
import pandas as pd 
import numpy 

from numpy import random

from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.dummy import DummyClassifier

In [4]:
url = 'https://raw.githubusercontent.com/alura-cursos/reducao-dimensionalidade/master/data-set/exames.csv'

resultado_exames = pd.read_csv(url)
resultado_exames

,id,diagnostico,exame_1,exame_2,exame_3,exame_4,exame_5,exame_6,exame_7,exame_8,...,exame_24,exame_25,exame_26,exame_27,exame_28,exame_29,exame_30,exame_31,exame_32,exame_33
0,842302,M,17.99,10.38,122.80,103.78,1001.0,0.11840,0.27760,0.30010,...,184.60,2019.0,0.16220,0.66560,0.7119,0.786,0.2654,0.4601,0.11890,NaN
1,842517,M,20.57,17.77,132.90,103.78,1326.0,0.08474,0.07864,0.08690,...,158.80,1956.0,0.12380,0.18660,0.2416,0.786,0.1860,0.2750,0.08902,NaN
2,84300903,M,19.69,21.25,130.00,103.78,1203.0,0.10960,0.15990,0.19740,...,152.50,1709.0,0.14440,0.42450,0.4504,0.786,0.2430,0.3613,0.08758,NaN
3,84348301,M,11.42,20.38,77.58,103.78,386.1,0.14250,0.28390,0.24140,...,98.87,567.7,0.20980,0.86630,0.6869,0.786,0.2575,0.6638,0.17300,NaN
4,84358402,M,20.29,14.34,135.10,103.78,1297.0,0.10030,0.13280,0.19800,...,152.20,1575.0,0.13740,0.20500,0.4000,0.786,0.1625,0.2364,0.07678,0.854454
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
564,926424,M,21.56,22.39,142.00,103.78,1479.0,0.11100,0.11590,0.24390,...,166.10,2027.0,0.14100,0.21130,0.4107,0.786,0.2216,0.2060,0.07115,0.158771
565,926682,M,20.13,28.25,131.20,103.78,1261.0,0.09780,0.10340,0.14400,...,155.00,1731.0,0.11660,0.19220,0.3215,0.786,0.1628,0.2572,0.06637,NaN
566,926954,M,16.60,28.08,108.30,103.78,858.1,0.08455,0.10230,0.09251,...,126.70,1124.0,0.11390,0.30940,0.3403,0.786,0.1418,0.2218,0.07820,NaN
567,927241,M,20.60,29.33,140.10,103.78,1265.0,0.11780,0.27700,0.35140,...,184.60,1821.0,0.16500,0.86810,0.9387,0.786,0.2650,0.4087,0.12400,NaN
568,92751,B,7.76,24.54,47.92,103.78,181.0,0.05263,0.04362,0.00000,...,59.16,268.6,0.08996,0.06444,0.0000,0.786,0.0000,0.2871,0.07039,NaN

In [12]:
# Qt da valores nulos por coluna
resultado_exames.isnull().sum()

id               0
diagnostico      0
exame_1          0
exame_2          0
exame_3          0
exame_4          0
exame_5          0
exame_6          0
exame_7          0
exame_8          0
exame_9          0
exame_10         0
exame_11         0
exame_12         0
exame_13         0
exame_14         0
exame_15         0
exame_16         0
exame_17         0
exame_18         0
exame_19         0
exame_20         0
exame_21         0
exame_22         0
exame_23         0
exame_24         0
exame_25         0
exame_26         0
exame_27         0
exame_28         0
exame_29         0
exame_30         0
exame_31         0
exame_32         0
exame_33       419
dtype: int64

In [13]:
# removendo os valores faltantes da coluna 'exame_33'
valores_exames_v1 = valores_exames.drop(columns='exame_33')

In [16]:
# Determinando SEED
SEED = 123143
random.seed(SEED)

#Criando variavel de valores
valores_exames = resultado_exames.drop(columns=['id', 'diagnostico'])
diagnostico = resultado_exames.diagnostico

#separando entre treino e teste

treino_x, teste_x, treino_y, teste_y = train_test_split(valores_exames_v1, diagnostico,
                                                       test_size = 0.3)

In [21]:
# Random Forest
classificador = RandomForestClassifier(n_estimators=100)
classificador.fit(treino_x, treino_y)

score = classificador.score(teste_x, teste_y)

print('Acurácia: {} '.format(score * 100))

Acurácia:92.39766081871345

In [25]:
#classificador dummy

SEED = 123143
random.seed(SEED)

classificador_dummy = DummyClassifier(strategy='most_frequent')
classificador_dummy.fit(treino_x, treino_y)

score_dummy = classificador_dummy.score(teste_x, teste_y)

print('Acurácia Dummy Classifier: {}'.format(score_dummy * 100))

Acurácia Dummy Classifier: 66.66666666666666