In [8]:
import pandas as pd
import csv

In [9]:
df = pd.read_csv('ML.csv')

In [10]:
df_x = df[['home', 'busca', 'logado']]
df_y = df['comprou']

In [11]:
df

     home       busca  logado  comprou
0       0  algoritmos       1        1
1       0        java       0        1
2       1  algoritmos       0        1
3       1        ruby       1        0
4       1        ruby       0        1
..    ...         ...     ...      ...
995     0        ruby       0        0
996     0        ruby       0        1
997     0        java       1        1
998     1  algoritmos       0        1
999     0        ruby       1        0

[1000 rows x 4 columns]

In [12]:
## Transformando as variaveis categoricas em dummies

Xdummies_df = pd.get_dummies(df_x)
Ydummies_df = df_y

Xdummies_df

     home  logado  busca_algoritmos  busca_java  busca_ruby
0       0       1                 1           0           0
1       0       0                 0           1           0
2       1       0                 1           0           0
3       1       1                 0           0           1
4       1       0                 0           0           1
..    ...     ...               ...         ...         ...
995     0       0                 0           0           1
996     0       0                 0           0           1
997     0       1                 0           1           0
998     1       0                 1           0           0
999     0       1                 0           0           1

[1000 rows x 5 columns]

In [13]:
## Transformando os dataframes em arrays

x = Xdummies_df.values
y = Ydummies_df.values

In [14]:
## Separando os elementos entre treino e teste

tamanho_de_treino = len(y) * 0.90
tamanho_de_treino

900.0

In [15]:
from sklearn.naive_bayes import MultinomialNB

modelo = MultinomialNB()

## Separando dados de treino e dados de taeste
treino_dados = x[:900]
treino_marcacoes = y[:900]

teste_dados = x[-99:]
teste_marcacoes = y[-99:]



modelo.fit(treino_dados, treino_marcacoes)

##modelo.predict([[1,0,1],[0,1,0]])

MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)

In [16]:
treino_dados

array([[0, 1, 1, 0, 0],
       [0, 0, 0, 1, 0],
       [1, 0, 1, 0, 0],
       ...,
       [0, 0, 0, 0, 1],
       [1, 1, 1, 0, 0],
       [1, 1, 0, 1, 0]])

In [9]:
from sklearn.naive_bayes import MultinomialNB

modelo = MultinomialNB()
modelo.fit(treino_dados, treino_marcacoes)

resultado = modelo.predict(teste_dados)
diferencas = resultado - teste_marcacoes

acertos = [d for d in diferencas if d ==0]
total_de_acertos = len(acertos)
total_de_elementos = len(teste_dados)

taxa_de_acerto = (total_de_acertos / total_de_elementos) * 100

taxa_de_acerto

81.81818181818183

In [10]:
## Criando um algoritmo como base (algoritmo "burro")

In [11]:
df = pd.read_csv('ML.csv')

df_x = df[['home', 'busca', 'logado']]
df_y = df['comprou']

Xdummies_df = pd.get_dummies(df_x)
Ydummies_df = df_y

x = Xdummies_df.values
y = Ydummies_df.values

In [12]:
sum(y)

832

In [13]:
len(y)

1000

In [14]:
(sum(y) / len(y)) * 100

83.2

In [15]:
## Avaliando os algoritmos base

acerto_de_um = sum(teste_marcacoes)
acerto_de_zero = len(teste_marcacoes) - acerto_de_um

print(acerto_de_um)
print(acerto_de_zero)

taxa_de_acerto_base = max(acerto_de_um, acerto_de_zero) / len(teste_marcacoes) * 100

print(f'Taxa de acerto base {taxa_de_acerto_base}')

81
18
Taxa de acerto base 81.81818181818183

In [16]:
## Calculando quantos 1 e quantos 0

print(len(y[y==0]))
print(len(y[y==1]))

168
832

In [17]:
from collections import Counter

Counter(y)

Counter({1: 832, 0: 168})

In [18]:
## 

from sklearn.ensemble import AdaBoostClassifier
modelo = AdaBoostClassifier()

modelo.fit(treino_dados, treino_marcacoes)

resultado = modelo.predict(teste_dados)
diferencas = resultado - teste_marcacoes

acertos = [d for d in diferencas if d ==0]
total_de_acertos = len(acertos)
total_de_elementos = len(teste_dados)

taxa_de_acerto = (total_de_acertos / total_de_elementos) * 100

taxa_de_acerto

84.84848484848484

In [19]:
## Rodando os dois modelos

def fit_and_predict(nome, modelo, treino_dados, treino_marcacoes, teste_dados, teste_marcacoes):
    modelo.fit(treino_dados, treino_marcacoes)

    resultado = modelo.predict(teste_dados)
    diferencas = resultado - teste_marcacoes

    acertos = [d for d in diferencas if d ==0]
    total_de_acertos = len(acertos)
    total_de_elementos = len(teste_dados)

    taxa_de_acerto = (total_de_acertos / total_de_elementos) * 100

    msg = 'Taxa de acerto do {0}: {1}'.format(nome, taxa_de_acerto)
    print(msg)
    
    
    
from sklearn.naive_bayes import MultinomialNB
modelo = MultinomialNB()
fit_and_predict("MultinomialNB", modelo, treino_dados, treino_marcacoes, teste_dados, teste_marcacoes)

from sklearn.ensemble import AdaBoostClassifier
modelo = AdaBoostClassifier()
fit_and_predict("AdaBoost",modelo, treino_dados, treino_marcacoes, teste_dados, teste_marcacoes)

Taxa de acerto do MultinomialNB: 81.81818181818183
Taxa de acerto do AdaBoost: 84.84848484848484