# PROJETO ENADE - INEP

## DICIONÁRIO DE DADOS

**CO_CATEGAD	Código da categoria administrativa da IES**	


1 = Pública Federal

2 = Pública Estadual

3 = Pública Municipal

4 = Privada com fins lucrativos

5 = Privada sem fins lucrativos

7 = Especial

**area_curso - Código da área de enquadramento do curso no Enade**
&CO_GRUPO==1401&

"21 = Arquitetura e Urbanismo

72 = Tecnologia em Análiseise e Desenvolvimento de Sistemas

76 = Tecnologia em Gestão da Produçãoo Industrial

79 = Tecnologia em Redes de Computadores

701 = Matemática (Bacharelado)

702 = Matemática (Licenciatura)

903 = Letras-Portuguesa (Bacharelado)

904 = Letras-Portuguesa (Licenciatura)

905 = Letras-Portuguesa e Inglês (Licenciatura)

906 = Letras-Portuguesa e Espanhol (Licenciatura)

1401 = Física (Bacharelado)

1402 = Física (Licenciatura)

1501 = Química (Bacharelado)

1502 = Química (Licenciatura)

1601 = Ciências Biológicas (Bacharelado)

1602 = Ciências Biológicas (Licenciatura)

2001 = Pedagogia (Licenciatura)

2401 = História (Bacharelado)

2402 = História (Licenciatura)

2501 = Artes Visuais (Licenciatura)

3001 = Geografia (Bacharelado)

3002 = Geografia (Licenciatura)

3201 = Filosofia (Bacharelado)

3202 = Filosofia (Licenciatura)

3502 = Educaçãoo Física (Licenciatura)


**CO_REGIAO_CURSO	Código da região de funcionamento do curso**

1 = Norte

2 = Nordeste

3 = Sudeste

4 = Sul

5 = Centro-Oeste

**NU_IDADE	Idade do inscrito em 26/11/2017**

Min = 10 

Max = 95

**TP_SEXO	Tipo de sexo**

M = Masculino

F = Feminino  


**CO_TURNO_GRADUACAO	Código do turno de graduação**	

1 = Matutino

2 = Vespertino

3 = Integral

4 = Noturno

**NT_GER	Nota bruta da prova - Media ponderada da formação geral (25%) e componente específico (75%).** 

(valor de 0 a 100)	

**QE_I01	Qual o seu estado civil?**	

A = Solteiro(a).

B = Casado(a).

C = Separado(a) judicialmente/divorciado(a).

D = Viúvo(a).

E = Outro.

**QE_I02	Qual a sua cor ou raça?**	

A = Branca.

B = Preta.

C = Amarela.

D = Parda.

E = Indígena.

F = Não quero declarar.

**QE_I08 - Qual a renda total de sua família, incluindo seus rendimentos?**	

A = Até 1,5 salários mínimo (atÃ© R$ 1.405,50).

B = De 1,5 a 3 salários mínimos (R$ 1.405,51 a R$ 2.811,00).

C = De 3 a 4,5 salários mínimos (R$ 2.811,01 a R$ 4.216,50).

D = De 4,5 a 6 salários mínimos (R$ 4.216,51 a R$ 5.622,00).

E = De 6 a 10 salários mínimos (R$ 5. 622,01 a R$ 9.370,00).

F = De 10 a 30 salários mínimos (R$ 9.370,01 a R$ 28.110,00).

G = Acima de 30 salários mínimos (mais de R$ 28.110,00).

**QE_I21	Alguém em sua família concluiu um curso superior?**

A = Sim.

B = Não.

**QE_I23 Quantas horas por semana, aproximadamente, você dedicou aos estudos, excetuando as horas de aula?**

A = Nenhuma, apenas assisto as aulas.

B = De uma a três.

C = De quatro a sete.

D = De oito a doze.

E = Mais de doze.

## BIBLIOTECAS

In [1]:
#conda install -c conda-forge dash

In [2]:
import dash
import math

import pandas as pd
import numpy as np

import plotly.offline as py
import plotly.express as px

import plotly.graph_objs as go
import matplotlib.pyplot as plt

import dash_core_components as dcc
import plotly.figure_factory as ff
import dash_html_components as html

from plotly.subplots import make_subplots
from scipy.stats import iqr,variation,mode

import warnings
warnings.filterwarnings('ignore')

## DATASET

In [3]:
microdados_enade = pd.read_csv('/Users/daianeklein/Documents/Cursos/Projeto-INEP/Projeto Enade - INEP - Análise Descritiva e Manipulação com Dplyr/MICRODADOS_ENADE_2017.txt',
                sep = ';', decimal = ",")

microdados_enade

,NU_ANO,CO_IES,CO_CATEGAD,CO_ORGACAD,CO_GRUPO,CO_CURSO,CO_MODALIDADE,CO_MUNIC_CURSO,CO_UF_CURSO,CO_REGIAO_CURSO,...,QE_I72,QE_I73,QE_I74,QE_I75,QE_I76,QE_I77,QE_I78,QE_I79,QE_I80,QE_I81
0,2017,1,1,10028,5710,3,1,5103403,51,5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2017,1,1,10028,5710,3,1,5103403,51,5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2017,1,1,10028,5710,3,1,5103403,51,5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2017,1,1,10028,5710,3,1,5103403,51,5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2017,1,1,10028,5710,3,1,5103403,51,5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
537431,2017,19578,2,10022,6208,5001279,1,3513009,35,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
537432,2017,19578,2,10022,6208,5001279,1,3513009,35,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
537433,2017,19578,2,10022,6208,5001279,1,3513009,35,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
537434,2017,19578,2,10022,6208,5001279,1,3513009,35,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
537435,2017,19578,2,10022,6208,5001279,1,3513009,35,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
# Tamanho do arquivo
microdados_enade.shape

(537436, 150)

In [5]:
# Selecionando colunas
colunas = ['CO_GRUPO','CO_REGIAO_CURSO','NU_IDADE','TP_SEXO','CO_TURNO_GRADUACAO','NT_GER','QE_I01','QE_I02',
           'QE_I08','QE_I21','QE_I23','NT_OBJ_FG', 'NT_OBJ_CE']

# Filtrando dataset
microdados_enade = microdados_enade[colunas]

# Visualizando dataframe
microdados_enade

,CO_GRUPO,CO_REGIAO_CURSO,NU_IDADE,TP_SEXO,CO_TURNO_GRADUACAO,NT_GER,QE_I01,QE_I02,QE_I08,QE_I21,QE_I23,NT_OBJ_FG,NT_OBJ_CE
0,5710,5,26,F,3.0,52.6,A,A,B,A,D,87.5,52.6
1,5710,5,23,F,3.0,63.1,B,D,B,A,C,87.5,63.2
2,5710,5,23,M,3.0,33.7,A,D,F,A,B,87.5,26.3
3,5710,5,23,M,3.0,58.1,A,A,B,A,C,75.0,57.9
4,5710,5,24,M,3.0,46.3,A,A,F,A,B,75.0,36.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...
537431,6208,3,26,M,4.0,NaN,A,D,C,B,B,NaN,NaN
537432,6208,3,41,M,4.0,NaN,B,A,B,A,D,NaN,NaN
537433,6208,3,22,M,4.0,NaN,A,D,B,B,B,NaN,NaN
537434,6208,3,35,F,4.0,NaN,B,D,C,A,C,NaN,NaN
537435,6208,3,32,F,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
# colunas 
microdados_enade.columns

Index(['CO_GRUPO', 'CO_REGIAO_CURSO', 'NU_IDADE', 'TP_SEXO',
       'CO_TURNO_GRADUACAO', 'NT_GER', 'QE_I01', 'QE_I02', 'QE_I08', 'QE_I21',
       'QE_I23', 'NT_OBJ_FG', 'NT_OBJ_CE'],
      dtype='object')

In [7]:
# Selecionando somente o curso Analise e desenvolvimento de sistemas
microdados_enade = microdados_enade[microdados_enade['CO_GRUPO'] == 72]
microdados_enade.head()

,CO_GRUPO,CO_REGIAO_CURSO,NU_IDADE,TP_SEXO,CO_TURNO_GRADUACAO,NT_GER,QE_I01,QE_I02,QE_I08,QE_I21,QE_I23,NT_OBJ_FG,NT_OBJ_CE
31583,72,3,21,F,1.0,21.7,A,D,A,B,C,25.0,15.0
31584,72,3,24,F,1.0,29.7,A,B,C,A,B,62.5,20.0
31585,72,3,30,M,4.0,35.3,D,D,A,B,D,37.5,35.0
31586,72,3,23,M,1.0,13.1,A,D,F,B,C,25.0,10.0
31587,72,3,20,M,1.0,27.5,A,A,B,A,B,37.5,20.0

In [8]:
# Tamanho do arquivo
microdados_enade.shape

(12538, 13)