# PROJETO ENADE - INEP

## DICIONÁRIO DE DADOS

**CO_CATEGAD	Código da categoria administrativa da IES**	


1 = Pública Federal

2 = Pública Estadual

3 = Pública Municipal

4 = Privada com fins lucrativos

5 = Privada sem fins lucrativos

7 = Especial

**area_curso - Código da área de enquadramento do curso no Enade**
&CO_GRUPO==1401&

"21 = Arquitetura e Urbanismo

72 = Tecnologia em Análiseise e Desenvolvimento de Sistemas

76 = Tecnologia em Gestão da Produçãoo Industrial

79 = Tecnologia em Redes de Computadores

701 = Matemática (Bacharelado)

702 = Matemática (Licenciatura)

903 = Letras-Portuguesa (Bacharelado)

904 = Letras-Portuguesa (Licenciatura)

905 = Letras-Portuguesa e Inglês (Licenciatura)

906 = Letras-Portuguesa e Espanhol (Licenciatura)

1401 = Física (Bacharelado)

1402 = Física (Licenciatura)

1501 = Química (Bacharelado)

1502 = Química (Licenciatura)

1601 = Ciências Biológicas (Bacharelado)

1602 = Ciências Biológicas (Licenciatura)

2001 = Pedagogia (Licenciatura)

2401 = História (Bacharelado)

2402 = História (Licenciatura)

2501 = Artes Visuais (Licenciatura)

3001 = Geografia (Bacharelado)

3002 = Geografia (Licenciatura)

3201 = Filosofia (Bacharelado)

3202 = Filosofia (Licenciatura)

3502 = Educaçãoo Física (Licenciatura)


**CO_REGIAO_CURSO	Código da região de funcionamento do curso**

1 = Norte

2 = Nordeste

3 = Sudeste

4 = Sul

5 = Centro-Oeste

**NU_IDADE	Idade do inscrito em 26/11/2017**

Min = 10 

Max = 95

**TP_SEXO	Tipo de sexo**

M = Masculino

F = Feminino  


**CO_TURNO_GRADUACAO	Código do turno de graduação**	

1 = Matutino

2 = Vespertino

3 = Integral

4 = Noturno

**NT_GER	Nota bruta da prova - Media ponderada da formação geral (25%) e componente específico (75%).** 

(valor de 0 a 100)	

**QE_I01	Qual o seu estado civil?**	

A = Solteiro(a).

B = Casado(a).

C = Separado(a) judicialmente/divorciado(a).

D = Viúvo(a).

E = Outro.

**QE_I02	Qual a sua cor ou raça?**	

A = Branca.

B = Preta.

C = Amarela.

D = Parda.

E = Indígena.

F = Não quero declarar.

**QE_I08 - Qual a renda total de sua família, incluindo seus rendimentos?**	

A = Até 1,5 salários mínimo (atÃ© R$ 1.405,50).

B = De 1,5 a 3 salários mínimos (R$ 1.405,51 a R$ 2.811,00).

C = De 3 a 4,5 salários mínimos (R$ 2.811,01 a R$ 4.216,50).

D = De 4,5 a 6 salários mínimos (R$ 4.216,51 a R$ 5.622,00).

E = De 6 a 10 salários mínimos (R$ 5. 622,01 a R$ 9.370,00).

F = De 10 a 30 salários mínimos (R$ 9.370,01 a R$ 28.110,00).

G = Acima de 30 salários mínimos (mais de R$ 28.110,00).

**QE_I21	Alguém em sua família concluiu um curso superior?**

A = Sim.

B = Não.

**QE_I23 Quantas horas por semana, aproximadamente, você dedicou aos estudos, excetuando as horas de aula?**

A = Nenhuma, apenas assisto as aulas.

B = De uma a três.

C = De quatro a sete.

D = De oito a doze.

E = Mais de doze.

## BIBLIOTECAS

In [1]:
#conda install -c conda-forge dash

In [2]:
import dash
import math

import pandas as pd
import numpy as np

import plotly.offline as py
import plotly.express as px

import plotly.graph_objs as go
import matplotlib.pyplot as plt

import dash_core_components as dcc
import plotly.figure_factory as ff
import dash_html_components as html

from plotly.subplots import make_subplots
from scipy.stats import iqr,variation,mode

import warnings
warnings.filterwarnings('ignore')

## DATASET

In [3]:
microdados_enade = pd.read_csv('/Users/daianeklein/Documents/Cursos/Projeto-INEP/Projeto Enade - INEP - Análise Descritiva e Manipulação com Dplyr/MICRODADOS_ENADE_2017.txt',
                sep = ';', decimal = ",")

microdados_enade

,NU_ANO,CO_IES,CO_CATEGAD,CO_ORGACAD,CO_GRUPO,CO_CURSO,CO_MODALIDADE,CO_MUNIC_CURSO,CO_UF_CURSO,CO_REGIAO_CURSO,...,QE_I72,QE_I73,QE_I74,QE_I75,QE_I76,QE_I77,QE_I78,QE_I79,QE_I80,QE_I81
0,2017,1,1,10028,5710,3,1,5103403,51,5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2017,1,1,10028,5710,3,1,5103403,51,5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2017,1,1,10028,5710,3,1,5103403,51,5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2017,1,1,10028,5710,3,1,5103403,51,5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2017,1,1,10028,5710,3,1,5103403,51,5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
537431,2017,19578,2,10022,6208,5001279,1,3513009,35,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
537432,2017,19578,2,10022,6208,5001279,1,3513009,35,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
537433,2017,19578,2,10022,6208,5001279,1,3513009,35,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
537434,2017,19578,2,10022,6208,5001279,1,3513009,35,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
537435,2017,19578,2,10022,6208,5001279,1,3513009,35,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
# Tamanho do arquivo
microdados_enade.shape

(537436, 150)

In [5]:
# Selecionando colunas
colunas = ['CO_GRUPO','CO_REGIAO_CURSO','NU_IDADE','TP_SEXO','CO_TURNO_GRADUACAO','NT_GER','QE_I01','QE_I02',
           'QE_I08','QE_I21','QE_I23','NT_OBJ_FG', 'NT_OBJ_CE']

# Filtrando dataset
microdados_enade = microdados_enade[colunas]

# Visualizando dataframe
microdados_enade

,CO_GRUPO,CO_REGIAO_CURSO,NU_IDADE,TP_SEXO,CO_TURNO_GRADUACAO,NT_GER,QE_I01,QE_I02,QE_I08,QE_I21,QE_I23,NT_OBJ_FG,NT_OBJ_CE
0,5710,5,26,F,3.0,52.6,A,A,B,A,D,87.5,52.6
1,5710,5,23,F,3.0,63.1,B,D,B,A,C,87.5,63.2
2,5710,5,23,M,3.0,33.7,A,D,F,A,B,87.5,26.3
3,5710,5,23,M,3.0,58.1,A,A,B,A,C,75.0,57.9
4,5710,5,24,M,3.0,46.3,A,A,F,A,B,75.0,36.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...
537431,6208,3,26,M,4.0,NaN,A,D,C,B,B,NaN,NaN
537432,6208,3,41,M,4.0,NaN,B,A,B,A,D,NaN,NaN
537433,6208,3,22,M,4.0,NaN,A,D,B,B,B,NaN,NaN
537434,6208,3,35,F,4.0,NaN,B,D,C,A,C,NaN,NaN
537435,6208,3,32,F,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
# colunas 
microdados_enade.columns

Index(['CO_GRUPO', 'CO_REGIAO_CURSO', 'NU_IDADE', 'TP_SEXO',
       'CO_TURNO_GRADUACAO', 'NT_GER', 'QE_I01', 'QE_I02', 'QE_I08', 'QE_I21',
       'QE_I23', 'NT_OBJ_FG', 'NT_OBJ_CE'],
      dtype='object')

In [7]:
# Selecionando somente o curso Analise e desenvolvimento de sistemas
microdados_enade = microdados_enade[microdados_enade['CO_GRUPO'] == 72]
microdados_enade.head()

,CO_GRUPO,CO_REGIAO_CURSO,NU_IDADE,TP_SEXO,CO_TURNO_GRADUACAO,NT_GER,QE_I01,QE_I02,QE_I08,QE_I21,QE_I23,NT_OBJ_FG,NT_OBJ_CE
31583,72,3,21,F,1.0,21.7,A,D,A,B,C,25.0,15.0
31584,72,3,24,F,1.0,29.7,A,B,C,A,B,62.5,20.0
31585,72,3,30,M,4.0,35.3,D,D,A,B,D,37.5,35.0
31586,72,3,23,M,1.0,13.1,A,D,F,B,C,25.0,10.0
31587,72,3,20,M,1.0,27.5,A,A,B,A,B,37.5,20.0

In [8]:
# Tamanho do arquivo
microdados_enade.shape

(12538, 13)

In [9]:
# Colunas
microdados_enade.columns

Index(['CO_GRUPO', 'CO_REGIAO_CURSO', 'NU_IDADE', 'TP_SEXO',
       'CO_TURNO_GRADUACAO', 'NT_GER', 'QE_I01', 'QE_I02', 'QE_I08', 'QE_I21',
       'QE_I23', 'NT_OBJ_FG', 'NT_OBJ_CE'],
      dtype='object')

In [10]:
# Selecionando as coluna que queremos visualizar
cols = ['QE_I01', 'CO_REGIAO_CURSO', 'TP_SEXO', 'QE_I23']

# Atribuindo a qt. de valores na variavel table
table = microdados_enade[cols].apply(pd.Series.value_counts)

# Alterando o tipo de dado para object e os valores nuloes (nan) para a palavra 'None'
table = table.astype(object).replace(np.nan, 'None')

# Substituindo a palavra 'None' para vazio (a fim de facilitar a visualização)
table = table.replace('None', '')

table

  QE_I01 CO_REGIAO_CURSO TP_SEXO QE_I23
1                    389
2                   1117
3                   7538
4                   2583
5                    911
A   7827                            876
B   2087                           4496
C    207                           2908
D     11                           1119
E    327                           1060
F                           1704
M                          10834

In [11]:
# Verificando dados nulos
microdados_enade[cols].isna().sum()

QE_I01             2079
CO_REGIAO_CURSO       0
TP_SEXO               0
QE_I23             2079
dtype: int64

In [12]:
#dicionario - "Traduzindo" o nome das variáveis

# Criando os dicionarios

#QE_I01
estado_civil = {'A' : 'Solteiro(a)',
                'B' : 'Casado(a)',
                'C' : 'Separado(a)',
                'D' : 'Viúvo(a)',
                'E' : 'Outro'}
    
#CO_REGIAO_CURSO
regiao = {1 : 'Norte',
         2 : 'Nordeste',
         3 : 'Sudeste',
         4 : 'Sul',
         5 : 'Centro-Oeste'}
    
#TP_SEXO
sexo = {'M' : 'Masculino',
       'F' : 'Feminino'}    


#QE_I23
horas_estudo = {'A' : 'Nenhuma, apenas assisto às aulas',
               'B' : 'De uma a três',
               'C' : 'De quatro a sete',
               'D' : 'De oito a doze',
               'E' : 'Mais de doze'}

In [13]:
# substituindo os campos
microdados_enade['QE_I01'] = microdados_enade['QE_I01'].map(estado_civil)
microdados_enade['CO_REGIAO_CURSO'] = microdados_enade['CO_REGIAO_CURSO'].map(regiao)
microdados_enade['TP_SEXO'] = microdados_enade['TP_SEXO'].map(sexo)
microdados_enade['QE_I23'] = microdados_enade['QE_I23'].map(horas_estudo)

#Visualizando a tabela
microdados_enade[cols]

             QE_I01 CO_REGIAO_CURSO    TP_SEXO            QE_I23
31583   Solteiro(a)         Sudeste   Feminino  De quatro a sete
31584   Solteiro(a)         Sudeste   Feminino     De uma a três
31585      Viúvo(a)         Sudeste  Masculino    De oito a doze
31586   Solteiro(a)         Sudeste  Masculino  De quatro a sete
31587   Solteiro(a)         Sudeste  Masculino     De uma a três
...             ...             ...        ...               ...
537276          NaN        Nordeste  Masculino               NaN
537277          NaN        Nordeste   Feminino               NaN
537278          NaN         Sudeste  Masculino               NaN
537279    Casado(a)         Sudeste  Masculino     De uma a três
537282          NaN         Sudeste  Masculino               NaN

[12538 rows x 4 columns]

## ESTATISTICA DESCRITIVA

In [14]:
# Media
# Mediana
# Moda

# Boxplot
# Histograma

# Media acumulada
# Media simples
# etc.

# Verificar os NA e removê-las

In [15]:
# tipos de dados
microdados_enade.dtypes

CO_GRUPO                int64
CO_REGIAO_CURSO        object
NU_IDADE                int64
TP_SEXO                object
CO_TURNO_GRADUACAO    float64
NT_GER                float64
QE_I01                 object
QE_I02                 object
QE_I08                 object
QE_I21                 object
QE_I23                 object
NT_OBJ_FG             float64
NT_OBJ_CE             float64
dtype: object

In [16]:
# Selecionando as variaveis categoricas e numericas
num = microdados_enade.select_dtypes(include= ['int64', 'float64'])
cat = microdados_enade.select_dtypes(exclude= ['int64', 'float64'])

### TABELA DE FREQUENCIA

In [17]:
# tamanho da amostra
tamanho = len(microdados_enade['NU_IDADE'])

k = int((1 + ((10/3) * np.log10(tamanho))))
k # quantidade de classes que os dados serão divididos

14

In [18]:
# Criando a coluna com as classes
microdados_enade['classe_idade'] = pd.cut( x = microdados_enade['NU_IDADE'], bins = k, include_lowest= True)

# Criando a tabela de frequencia
frequencia = microdados_enade['classe_idade'].value_counts()
percentual = microdados_enade['classe_idade'].value_counts( normalize = True) * 1000

# Criando o dataframe
dist_freq = pd.DataFrame({'Frequencia' : frequencia,
                         'Percentual' : percentual})

dist_freq

                  Frequencia  Percentual
(21.929, 25.857]        3911  311.931728
(25.857, 29.786]        2518  200.829478
(17.944, 21.929]        2316  184.718456
(29.786, 33.714]        1587  126.575211
(33.714, 37.643]        1048   83.585899
(37.643, 41.571]         526   41.952465
(41.571, 45.5]           294   23.448716
(45.5, 49.429]           166   13.239751
(49.429, 53.357]          92    7.337693
(53.357, 57.286]          54    4.306907
(57.286, 61.214]          11    0.877333
(61.214, 65.143]          10    0.797575
(65.143, 69.071]           4    0.319030
(69.071, 73.0]             1    0.079758

### TIPOS DE FREQUENCIA

#### FREQUENCIA SIMPLES  - CONTAGEM SIMPLES DE ELEMENTOS

In [42]:
freq_simples = pd.DataFrame(microdados_enade['NU_IDADE'].value_counts().reset_index()).sort_values(by='index')

# renomeando as colunas
freq_simples.rename(columns={'index' : 'idade',
                             'NU_IDADE' : 'freq_simples'}, inplace = True)

freq_simples = freq_simples.sort_values(by='idade')

freq_simples

    idade  freq_simples
37     18            14
17     19           237
4      20           916
1      21          1149
0      22          1165
2      23          1036
3      24           916
5      25           794
6      26           725
7      27           650
8      28           610
9      29           533
10     30           444
11     31           435
12     32           383
13     33           325
15     34           298
14     35           312
16     36           252
18     37           186
19     38           176
21     39           120
20     40           129
22     41           101
23     42            89
24     43            77
25     44            66
26     45            62
28     46            45
27     47            49
29     48            40
31     49            32
30     50            34
35     51            15
32     52            24
33     53            19
34     54            16
36     55            15
38     56            12
39     57            11
48     58             1
41     59             4
45     60             2
42     61             4
40     62             5
44     63             3
49     64             1
46     65             1
43     66             3
50     69             1
47     73             1

#### FREQUENCIA SIMPLES  ACUMULADA - CONTAGEM ACUMULADA ATÉ A CLASSE DE INTERESSE (INCLUSIVE)

In [117]:
freq_simples_acumulada = pd.DataFrame(microdados_enade['NU_IDADE'].value_counts()).sort_index()

# Calculando a frequencia simples acumulada
freq_simples_acumulada = np.cumsum(freq_simples_acumulada).reset_index() 

# renomeando as colunas
freq_simples_acumulada.rename(columns={'index' : 'idade',
                                      'NU_IDADE' : 'freq_simples_acumulada'}, inplace = True)


freq_simples_acumulada =freq_simples_acumulada.sort_values(by='idade')
freq_simples_acumulada

    idade  freq_simples_acumulada
0      18                      14
1      19                     251
2      20                    1167
3      21                    2316
4      22                    3481
5      23                    4517
6      24                    5433
7      25                    6227
8      26                    6952
9      27                    7602
10     28                    8212
11     29                    8745
12     30                    9189
13     31                    9624
14     32                   10007
15     33                   10332
16     34                   10630
17     35                   10942
18     36                   11194
19     37                   11380
20     38                   11556
21     39                   11676
22     40                   11805
23     41                   11906
24     42                   11995
25     43                   12072
26     44                   12138
27     45                   12200
28     46                   12245
29     47                   12294
30     48                   12334
31     49                   12366
32     50                   12400
33     51                   12415
34     52                   12439
35     53                   12458
36     54                   12474
37     55                   12489
38     56                   12501
39     57                   12512
40     58                   12513
41     59                   12517
42     60                   12519
43     61                   12523
44     62                   12528
45     63                   12531
46     64                   12532
47     65                   12533
48     66                   12536
49     69                   12537
50     73                   12538

#### FREQUENCIA RELATIVA SIMPLES - CONTAGEM SIMPLES DOS ELEMENTOS, DIVIDIDOS PELA SOMA DAS FREQUENCIAS SIMPLES

In [50]:
freq_relativa_simples = pd.DataFrame(microdados_enade['NU_IDADE'].value_counts(normalize = True) * 100).reset_index().sort_values(by='index')

# renomeando as colunas
freq_relativa_simples.rename(columns={'index' : 'idade',
                                      'NU_IDADE' : 'freq_relativa_simples'}, inplace = True)

freq_relativa_simples

    idade  freq_relativa_simples
37     18               0.111661
17     19               1.890254
4      20               7.305790
1      21               9.164141
0      22               9.291753
2      23               8.262881
3      24               7.305790
5      25               6.332748
6      26               5.782421
7      27               5.184240
8      28               4.865210
9      29               4.251077
10     30               3.541235
11     31               3.469453
12     32               3.054714
13     33               2.592120
15     34               2.376775
14     35               2.488435
16     36               2.009890
18     37               1.483490
19     38               1.403733
21     39               0.957090
20     40               1.028872
22     41               0.805551
23     42               0.709842
24     43               0.614133
25     44               0.526400
26     45               0.494497
28     46               0.358909
27     47               0.390812
29     48               0.319030
31     49               0.255224
30     50               0.271176
35     51               0.119636
32     52               0.191418
33     53               0.151539
34     54               0.127612
36     55               0.119636
38     56               0.095709
39     57               0.087733
48     58               0.007976
41     59               0.031903
45     60               0.015952
42     61               0.031903
40     62               0.039879
44     63               0.023927
49     64               0.007976
46     65               0.007976
43     66               0.023927
50     69               0.007976
47     73               0.007976

#### FREQUENCIA RELATIVA  ACUMULADA - CONTAGEM ACUMULADA ATÉ A CLASSE DE INTERESSE, DIVIDIDO PELA SOMA DAS FREQUENCIAS SIMPLES

In [98]:

# calculando a frequencia relativa 
freq_relativa_acumulada = pd.DataFrame(microdados_enade['NU_IDADE'].value_counts(normalize = True) * 100).sort_index()

#Calculando a frequencia relativa acumulada
freq_relativa_acumulada = np.cumsum(freq_relativa_acumulada).reset_index()

# renomeando as colunas

freq_relativa_acumulada.rename(columns={'index' : 'idade',
                                        'NU_IDADE' : 'freq_relativa_acumulada'}, inplace = True)

freq_relativa_acumulada

    idade  freq_relativa_acumulada
0      18                 0.111661
1      19                 2.001914
2      20                 9.307705
3      21                18.471846
4      22                27.763599
5      23                36.026480
6      24                43.332270
7      25                49.665018
8      26                55.447440
9      27                60.631680
10     28                65.496889
11     29                69.747966
12     30                73.289201
13     31                76.758654
14     32                79.813367
15     33                82.405487
16     34                84.782262
17     35                87.270697
18     36                89.280587
19     37                90.764077
20     38                92.167810
21     39                93.124900
22     40                94.153773
23     41                94.959324
24     42                95.669166
25     43                96.283299
26     44                96.809699
27     45                97.304195
28     46                97.663104
29     47                98.053916
30     48                98.372946
31     49                98.628170
32     50                98.899346
33     51                99.018982
34     52                99.210400
35     53                99.361940
36     54                99.489552
37     55                99.609188
38     56                99.704897
39     57                99.792630
40     58                99.800606
41     59                99.832509
42     60                99.848461
43     61                99.880364
44     62                99.920242
45     63                99.944170
46     64                99.952145
47     65                99.960121
48     66                99.984048
49     69                99.992024
50     73               100.000000

In [118]:
tabela_frequencias = freq_simples.merge(freq_simples_acumulada, 
                   on ='idade', 
                   how = 'inner').merge(freq_relativa_simples, 
                                        on ='idade',
                                       how = 'inner').merge(freq_relativa_acumulada,
                                                            on ='idade',
                                                           how = 'inner')
tabela_frequencias

,idade,freq_simples,freq_simples_acumulada,freq_relativa_simples,freq_relativa_acumulada
0,18,14,14,0.111661,0.111661
1,19,237,251,1.890254,2.001914
2,20,916,1167,7.305790,9.307705
3,21,1149,2316,9.164141,18.471846
4,22,1165,3481,9.291753,27.763599
5,23,1036,4517,8.262881,36.026480
6,24,916,5433,7.305790,43.332270
7,25,794,6227,6.332748,49.665018
8,26,725,6952,5.782421,55.447440
9,27,650,7602,5.184240,60.631680
10,28,610,8212,4.865210,65.496889
11,29,533,8745,4.251077,69.747966
12,30,444,9189,3.541235,73.289201
13,31,435,9624,3.469453,76.758654
14,32,383,10007,3.054714,79.813367
15,33,325,10332,2.592120,82.405487
16,34,298,10630,2.376775,84.782262
17,35,312,10942,2.488435,87.270697
18,36,252,11194,2.009890,89.280587
19,37,186,11380,1.483490,90.764077
20,38,176,11556,1.403733,92.167810
21,39,120,11676,0.957090,93.124900
22,40,129,11805,1.028872,94.153773
23,41,101,11906,0.805551,94.959324
24,42,89,11995,0.709842,95.669166
25,43,77,12072,0.614133,96.283299
26,44,66,12138,0.526400,96.809699
27,45,62,12200,0.494497,97.304195
28,46,45,12245,0.358909,97.663104
29,47,49,12294,0.390812,98.053916
30,48,40,12334,0.319030,98.372946
31,49,32,12366,0.255224,98.628170
32,50,34,12400,0.271176,98.899346
33,51,15,12415,0.119636,99.018982
34,52,24,12439,0.191418,99.210400
35,53,19,12458,0.151539,99.361940
36,54,16,12474,0.127612,99.489552
37,55,15,12489,0.119636,99.609188
38,56,12,12501,0.095709,99.704897
39,57,11,12512,0.087733,99.792630
40,58,1,12513,0.007976,99.800606
41,59,4,12517,0.031903,99.832509
42,60,2,12519,0.015952,99.848461
43,61,4,12523,0.031903,99.880364
44,62,5,12528,0.039879,99.920242
45,63,3,12531,0.023927,99.944170
46,64,1,12532,0.007976,99.952145
47,65,1,12533,0.007976,99.960121
48,66,3,12536,0.023927,99.984048
49,69,1,12537,0.007976,99.992024
50,73,1,12538,0.007976,100.000000