In [1]:
import pandas as pd

In [4]:
dados = pd.read_csv('dataset.csv', sep=';')

In [5]:
dados.head()

     Valor  Area  Dist_Praia  Dist_Farmacia
0  4600000   280    0.240925       0.793637
1   900000   208    0.904136       0.134494
2  2550000   170    0.059525       0.423318
3   550000   100    2.883181       0.525064
4  2200000   164    0.239758       0.192374

In [7]:
dados.shape

(5000, 4)

In [9]:
dados.shape[0]

5000

In [11]:
len(dados)

5000

In [12]:
dados.corr().round(4)

                Valor    Area  Dist_Praia  Dist_Farmacia
Valor          1.0000  0.7110     -0.3665        -0.0244
Area           0.7110  1.0000     -0.2834        -0.0310
Dist_Praia    -0.3665 -0.2834      1.0000         0.0256
Dist_Farmacia -0.0244 -0.0310      0.0256         1.0000