# BIBLIOTECAS

In [5]:
import pandas as pd 
import numpy as np

from sklearn.ensemble import ExtraTreesClassifier, RandomForestClassifier, GradientBoostingClassifier
import matplotlib.pyplot as plt

from sklearn.metrics import roc_auc_score
from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import GridSearchCV

# DATASETS

In [8]:
features = pd.read_csv(r'/Users/daianeklein/Documents/Cursos/cursos-bootcamps/Udemy/Previsão corridas NYC/kdd/orange_small_test.data',
                      sep='\t', na_filter=False, engine='python')

features.head(3)

,Var1,Var2,Var3,Var4,Var5,Var6,Var7,Var8,Var9,Var10,...,Var221,Var222,Var223,Var224,Var225,Var226,Var227,Var228,Var229,Var230
0,,,,,,1225,7,,,,...,Al6ZaUT,P6pu4Vl,LM8l689qOp,,ELof,7P5s,ZI9m,R4y5gQQWY8OodqDV,,
1,,,,,,259,0,,,,...,oslk,S46Rt72,LM8l689qOp,,,Qu4f,RAYp,F2FyR07IdsN7I,,
2,,,,,,861,14,,,,...,oslk,CcdTy9x,LM8l689qOp,,,7aLG,RAYp,F2FyR07IdsN7I,,
3,,,,,,1568,7,,,,...,oslk,Q53Rkup,LM8l689qOp,,kG3k,7P5s,RAYp,TCU50_Yjmm6GIBZ0lL_,am7c,
4,,,,,,1197,7,,,,...,Al6ZaUT,WfsWw2A,LM8l689qOp,,ELof,5Acm,ZI9m,iyHGyLCEkQ,am7c,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49995,,,,,,3367,7,,,,...,QKW8DRm,catzS2D,LM8l689qOp,,xG3x,Qu4f,ZI9m,NoEd,mj86,
49996,,,,,,182,0,,,,...,d0EEeJi,K6RRMos,,,,Xa3G,02N6s8f,F2FyR07IdsN7I,,
49997,,,,,,525,0,,,,...,oslk,PPGDthD,jySVZNlOJy,,,Aoh3,RAYp,F2FyR07IdsN7I,,
49998,,,,,,1582,21,,,,...,oslk,1WSCwWq,jySVZNlOJy,,,FSa2,RAYp,F2FyR07IdsN7I,,
49999,,,,,,112,0,,,,...,oslk,x3aOgRj,LM8l689qOp,,,kwS7,ZI9m,F2FyR07IdsN7I,,

In [10]:
outcome = pd.read_csv(r'/Users/daianeklein/Documents/Cursos/cursos-bootcamps/Udemy/Previsão corridas NYC/kdd/orange_small_train_churn.labels',
                     header=None)

outcome.head(3)

   0
0 -1
1  1
2 -1

## IDENTIFICANDO VARIAVEIS NUMERICAS E CATEGORICAS

In [16]:
#todas as variaveis
all_vars = np.array(features.columns)

#Variaveis numericas
num_vars = np.array(all_vars[:190])

#Variaveis categoricas
cat_vars = np.array(all_vars[190:])

## TIPO DE DADOS

In [18]:
features.dtypes

Var1      object
Var2      object
Var3      object
Var4      object
Var5      object
           ...
Var226    object
Var227    object
Var228    object
Var229    object
Var230    object
Length: 230, dtype: object

In [20]:
var = features.groupby('Var1').size()
var

Var1
        49312
0         367
104         1
120         1
1288        1
16         73
168         1
24         39
248         1
32         26
352         1
40          9
48         10
56          4
64          2
72          4
8         145
80          3
dtype: int64