## Aula 02 - Exercício 03

In [2]:
media = 500
significancia = 0.05
confianca = 1 - significancia
n = 30
dv = 20
ma = 485

In [1]:
import pandas as pd
import numpy as np
from scipy.stats import norm

In [16]:
z = (ma - media) / (dv / np.sqrt(n))
z

-4.107919181288746

In [6]:
probabilidade = (0.5 + (confianca / 2))
probabilidade

0.975

In [10]:
z_alpha_2 = norm.ppf(probabilidade)

In [11]:
z <= -z_alpha_2

True

In [12]:
z >= z_alpha_2

False

## Aula 2 - Exercício 05

In [2]:
from statsmodels.stats.weightstats import ztest
from statsmodels.stats.weightstats import DescrStatsW

In [17]:
p_valor = 2 * (norm.sf(z))
p_valor

1.999960076025231

In [18]:
p_valor = 2 * (1 - norm.cdf(z))
p_valor

1.999960076025231

In [26]:
import numpy as np

In [46]:
lista = [4, 7, 8, 10, 11]

In [48]:
lista = pd.DataFrame(lista)
lista

    0
0   4
1   7
2   8
3  10
4  11

In [49]:
lista.mean()

0    8.0
dtype: float64

In [50]:
dv = np.std(lista)
dv

0    2.44949
dtype: float64

In [51]:
np.var(lista)

0    6.0
dtype: float64

## Aula 03 - Exercício 05

In [27]:
media = 230
significancia = 0.05
confianca = 1 - significancia
n = 20
grau_de_liberdade = n - 1
media_amostra = 150
desvio_padrao_amostra = 90

In [28]:
from scipy.stats import t as t_student

In [29]:
import pandas as pd
from scipy.stats import t as t_student

tabela_t_student = pd.DataFrame(
    [], 
    index=[i for i in range(1, 31)],
    columns = [i / 100 for i in range(10, 0, -1)]
)

for index in tabela_t_student.index:
    for column in tabela_t_student.columns:
        tabela_t_student.loc[index, column] = t_student.ppf(1 - float(column) / 2, index)

index=[('Graus de Liberdade (n - 1)', i) for i in range(1, 31)]
tabela_t_student.index = pd.MultiIndex.from_tuples(index)

columns = [("{0:0.3f}".format(i / 100), "{0:0.3f}".format((i / 100) / 2)) for i in range(10, 0, -1)]
tabela_t_student.columns = pd.MultiIndex.from_tuples(columns)

tabela_t_student.rename_axis(['Bicaudal', 'Unicaudal'], axis=1, inplace = True)

tabela_t_student[18:25]

Bicaudal                         0.100    0.090    0.080    0.070    0.060  \
Unicaudal                        0.050    0.045    0.040    0.035    0.030
Graus de Liberdade (n - 1) 19  1.72913  1.78642  1.84953  1.91999  2.00002
                           20  1.72472  1.78164  1.84433  1.91429  1.99371
                           21  1.72074  1.77734  1.83965  1.90916  1.98804
                           22  1.71714  1.77345  1.83542  1.90452  1.98291
                           23  1.71387  1.76991  1.83157  1.90031  1.97825
                           24  1.71088  1.76667  1.82805  1.89646  1.97399
                           25  1.70814  1.76371  1.82483  1.89293   1.9701

Bicaudal                         0.050    0.040    0.030    0.020    0.010
Unicaudal                        0.025    0.020    0.015    0.010    0.005
Graus de Liberdade (n - 1) 19  2.09302   2.2047  2.34565  2.53948  2.86093
                           20  2.08596  2.19666  2.33624  2.52798  2.84534
                           21  2.07961  2.18943  2.32779  2.51765  2.83136
                           22  2.07387  2.18289  2.32016  2.50832  2.81876
                           23  2.06866  2.17696  2.31323  2.49987  2.80734
                           24   2.0639  2.17154  2.30691  2.49216  2.79694
                           25  2.05954  2.16659  2.30113  2.48511  2.78744

In [30]:
t_alpha = t_student.ppf(confianca, grau_de_liberdade)
t_alpha

1.729132811521367

In [25]:

t = (media_amostra - media ) / (desvio_padrao_amostra / np.sqrt(n))
t

-3.9752319599996264

In [19]:
t >= t_alpha

True

## Aula 03 - Exercício 07

In [41]:
media = 350
n = 35
media_amostra = 330
desvio_padrao_amostra = 80
significancia = 0.05
confianca = 1 - significancia
grau_liberdade = n -1


z_alpha = norm.ppf(confianca)
z_alpha

1.6448536269514722

In [37]:
z = (media_amostra - media) / (desvio_padrao_amostra / np.sqrt(n))
z

-1.479019945774904

In [42]:
z >= -z_alpha

True

## Aula 4 - Exercicio 3

In [6]:
import pandas as pd
import numpy as np

In [2]:
n = 2
significancia = 0.05
confianca = 1 - significancia

In [3]:
novo = [3.4, 4.9, 2.8, 5.5, 3.7, 2.5, 4.3, 4.6, 3.7, 3.4]
antigo = [0.3, 1.2, 1.2, 1.7, 1.1, 0.6, 1.2, 1.5, 0.5, 0.7]

In [8]:
dados1 = pd.DataFrame(novo)
dados2 = pd.DataFrame(antigo)

In [15]:
coluna1 = ['novo']
coluna2 = ['antigo']

dados1.columns = coluna1
dados2.columns = coluna2

In [20]:
dados2

   antigo
0     0.3
1     1.2
2     1.2
3     1.7
4     1.1
5     0.6
6     1.2
7     1.5
8     0.5
9     0.7

In [18]:
dados = pd.merge(dados1, dados2)
dados

MergeError: No common columns to perform merge on. Merge options: left_on=None, right_on=None, left_index=False, right_index=False