In [1]:
import pandas as pd
from sklearn.impute import SimpleImputer
import numpy as np

In [2]:
base = pd.read_csv('credit_data.csv')

In [3]:
columns = ['clienteid', 'income', 'age', 'loan', 'default']
base.columns = columns

## Tratar valores incorretos

### (Nao indicado) --- Apagar os registros

In [4]:
## Funcao DROP
## 1 == Apagar toda a coluna
##base.drop('age', 1)
##inplace = True)

In [5]:
## Apagar somente os registros com problema
## Tambem nao é indicado, pois pode ter outros atributos importantes que serao apagados
## Index == Apagar as linhas

##base.drop(base[base.age < 0 ].index, inplace = True)
##base.shape

In [6]:
## Preencher os valores manualmente
## 1 opcao, preencher os valores com a media

base['age'].mean()

## Fazendo a media sem considerar as idades negativas
media = base['age'][base.age > 0].mean()

##Atribuindo as medias nas idades negativas
base.loc[base.age < 0, 'age'] = media

## Verificando a lista com clientes com idade negativa (consultando o metodo acima)
base.loc[base.age < 0, 'age']

Series([], Name: age, dtype: float64)

## Tratar valores nulos

In [7]:
## Consultando os valores nulos atraves de uma lista (nao recomendado)

pd.isnull(base['age'])

0       False
1       False
2       False
3       False
4       False
        ...
1995    False
1996    False
1997    False
1998    False
1999    False
Name: age, Length: 2000, dtype: bool

In [8]:
## Consultando somente os valores nulos

base.loc[pd.isnull(base['age'])]

    clienteid        income  age         loan  default
28         29  59417.805406  NaN  2082.625938        0
30         31  48528.852796  NaN  6155.784670        0
31         32  23526.302555  NaN  2862.010139        0

In [9]:
previsores = base.iloc[:, 1:4].values
classe = base.iloc[:, 4].values

## Importando a biblioteca para tratar os valores nulos
from sklearn.impute import SimpleImputer
import numpy as np

## Verificar na documentacao as alternativas para tratar os valores nulos de acordo com essa biblioteca
imputer = SimpleImputer(missing_values = np.nan, strategy='mean')

## Dentro do parametro da variavel previsores, foi indicado quais colunas deve ser tratados os erros
## Os dados nulos estao somente na coluna 'age', porém, foi informado até a coluna 3 para que seja tratado
## todos as colunas da variavel previsores
imputer = imputer.fit(previsores[:, 0:3])
previsores = imputer.transform(previsores[:, 0:3])

from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
previsores = scaler.fit_transform(previsores)

## Escalonar as variaveis -- Normalizacao

In [10]:
## Padronizacao

from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
previsores = scaler.fit_transform(previsores)
pd.DataFrame(previsores)

             0         1         2
0     1.453934  1.365380  1.202819
1    -0.762176  0.542659  0.696427
2     0.836821  1.674171  1.174711
3    -0.183070  0.364136  0.544980
4     1.509563 -1.686475  1.420765
...        ...       ...       ...
1995  0.969747  0.572929 -0.826907
1996  1.688540 -1.340946 -0.309130
1997 -0.071226 -0.974486  0.354201
1998 -0.110003  1.739367 -0.926756
1999  1.682986  1.149176  0.963810

[2000 rows x 3 columns]