In [31]:
import pandas as pd

import io
from textblob import TextBlob

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [2]:
df = pd.read_csv('casas.csv')
df

      tamanho   ano  garagem   preco
0       159.0  2003        2  208500
1       117.0  1976        2  181500
2       166.0  2001        2  223500
3       160.0  1915        3  140000
4       204.0  2000        3  250000
...       ...   ...      ...     ...
1455    153.0  1999        2  175000
1456    193.0  1978        2  210000
1457    217.0  1941        1  266500
1458    100.0  1950        1  142125
1459    117.0  1965        1  147500

[1460 rows x 4 columns]

In [14]:
X = df.drop('preco', axis=1)
y = df['preco']

In [15]:
X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.3, random_state=42)

In [16]:
X_train.head()

      tamanho   ano  garagem
135     156.0  1970        2
1452    100.0  2005        2
762     144.0  2009        2
932     177.0  2006        3
435     154.0  1996        2

In [18]:
modelo.predict([[120,2001,2]])

array([191436.53503831])

In [19]:
#json

{
    "tamanho" : 120,
    "ano" : 2001,
    "garagem" : 2
    
}

{'tamanho': 120, 'ano': 2001, 'garagem': 2}

In [20]:
import pickle

In [42]:
pickle.dump(modelo, open('modelo.sav', 'wb'))