# Exercicios

## Aula 2 - Distribuicao de frequencias

In [5]:
import pandas as pd

dados2 = pd.DataFrame({'Profissao': [1, 2, 3, 1, 2, 2, 2, 3, 3, 2, 1, 3]})

In [14]:
frequencia = dados2['Profissao'].value_counts()

In [10]:
porcentagem = dados2['Profissao'].value_counts(normalize=True)

In [15]:
frequencia

2    5
3    4
1    3
Name: Profissao, dtype: int64

In [13]:
porcentagem

2    0.416667
3    0.333333
1    0.250000
Name: Profissao, dtype: float64

In [17]:
dist = pd.DataFrame({'Frequencia' : frequencia, 'Porcentagem' : porcentagem})

In [23]:
dist.rename(index = {2: 'Cientista de dados', 3 : 'Programador Python', 1: 'Estatistico'}, inplace = True)

In [24]:
dist

                    Frequencia  Porcentagem
Cientista de dados           5     0.416667
Programador Python           4     0.333333
Estatistico                  3     0.250000

In [27]:

dist.rename_axis('Profissao', axis ='columns', inplace=True)

In [28]:
dist

Profissao           Frequencia  Porcentagem
Cientista de dados           5     0.416667
Programador Python           4     0.333333
Estatistico                  3     0.250000

## Aula 2 - Distribuicao de frequencia com variaveis quantitativas

In [30]:
dados = pd.read_csv('dados.csv')

classes = [dados.Altura.min(), 1.65, 1.75, dados.Altura.max()]
labels = ['1 - Baixa', '2 - Média', '3 - Alta']

frequencia = pd.value_counts(
    pd.cut(
        x = dados.Altura,
        bins = classes,
        labels = labels,
        include_lowest = True
    )
)

percentual = pd.value_counts(
    pd.cut(
        x = dados.Altura,
        bins = classes,
        labels = labels,
        include_lowest = True
    ), normalize = True
) * 100

dist_freq_altura = pd.DataFrame(
    {'Frequência': frequencia, 'Porcentagem (%)': percentual}
)

dist_freq_altura.rename_axis('Estaturas', axis= 'columns', inplace = True)

dist_freq_altura.sort_index(ascending = True, inplace = True)

dist_freq_altura

Estaturas  Frequência  Porcentagem (%)
1 - Baixa       20529        26.716554
2 - Média       36162        47.061426
3 - Alta        20149        26.222020